
<!DOCTYPE html>
<html>
<head>
  <title><%= title || 'Trump Farts' %></title>
  <meta name="keywords" content="trump, maga, trump supporters, donald trump, make america great again">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="icon" type="image/png" href="public/img/favicon.jpg">
</head>
<body>
