<!DOCTYPE html>
<html>
  <head>
    <title><%= Trump Farts %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>The Brain Farts of Donald J. Trump <%= title %></p>

    <div class="tweet block">
      <img src="public/img/tweet1.png"> -->
      <!-- Radio Button Input, the Scale from 1 to 5 -->
      <form action="/index" method="POST">
    <fieldset>
      <legend>Please Rate This Tweet</legend>
      <!-- <label for="full-name">Full Name</label> -->
      <!-- <input type="text" id="full-name" placeholder="Your name here"> -->
      <label for="radio-container">How do you rate this Trump tweet?</label>
      <div class="radio-container">
        <div id="radio">
          <input type="radio" id="radio1" name="radio-group" checked>
          <label for="radio1"><span>Slightly nauseating</span></label>
        </div>
        <div id="radio">
          <input type="radio" id="radio2" name="radio-group">
          <label for="radio2"><span>I feel really sick</span></label>
        </div>
        <div id="radio">
          <input type="radio" id="radio3" name="radio-group">
          <label for="radio3"><span>I just threw up in my mouth</span></label>
        </div>
      </div>
      <!-- <label for="password">Password</label>
      <input type="text" id="password" placeholder="Text Input"> -->
      <input type="submit" value="Rate!">
    </fieldset>
  </form>

  </body>
</html>
