

<% include ../shared/_head %>
<link href="stylesheets/style.css" rel="stylesheet" type="text/css">
<body>

<!-- <nav class='navbar navbar-default navbar-fixed-top'> -->
<div class="header">

  <h3>Trump Farts</h3>
  <h5>The Brain Farts of Donald J. Trump</h5>
</div>
<!-- </nav> -->


<div class="picture">

<a class="twitter-timeline" data-theme="dark" data-height="500" data-width="200" data-chrome="transparent nofooter" href="https://twitter.com/realDonaldTrump?ref_src=twsrc%5Etfw"></a>
</div>


  <ol>
    <% for (let i = 0; i < tweets.length; i++) { %>
      <% let tweet = tweets[i] %>
      <li>
        <div class="star">
          <img class="yellow" src="img/star.png">
          <span class="js-avg-score"><%= tweet.avgScore() %></span>
        </div>
        <p>
          <img src="<%= tweet.profile_pic_url %>" style="width: 700px;">
        </p>
        <form class="js-tweet-form" data-tweetid="<%= tweet.id %>">
          <fieldset>
            <!-- <legend>Please Rate This Tweet</legend> -->

            <label for="radio-container">How do you rate this Trump tweet?</label>
            <div class="radio-container">
              <input class="js-score" name="score" type="range" min="1" max="10" value="1"/>
              <div class="top">
                <h2>Gross</h2>
                <h2>Heinous</h2>
                <h2>Nauseating</h2>
                <h2>Migraine</h2>
                <h2>I Threw Up</h2>
              </div>
            </div>
            <input type="submit" value="Rate!" onclick="play()" id="submit-btn">
            <audio id="audio" src="audio/fired.mp3"></audio></input>
          </fieldset>
        </form>
      </li>
    <% } %>
  </ol>


<div class="footer">
<img src="img/footer4.png">
<img src="img/footer3.png">
<img src="img/footer2.png">
<img src="img/footer.png">
</div>

<p>&copy; Trump Farts</p>
  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
     <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script src="javascripts/index.js"></script>





<% include ../shared/_foot %>
