

<% include ../shared/_head %>
<link href="stylesheets/style.css" rel="stylesheet" type="text/css">
<body>
<div class="header">
  <h3>Trump Farts</h3>
  <h5>The Brain Farts of Donald Trump</h5>
</div>
<div class="picture">
</div>



  <ol>
    <% for (let i = 0; i < tweets.length; i++) { %>
      <% let tweet = tweets[i] %>
      <% let total = 0 %>
      <% for (var j = 0; j < tweet.score.length; j++ ) { %>
        <% let score = tweet.score[j] %>
        <% total += score %>
      <% } %>
      <% let average = total / tweet.score.length %>

      <li>
        <h6>Average Score: <%= average %></h6>
        <p>
      <img src="<%= tweet.profile_pic_url %>" style="width: 700px;">
        </p>
      </div>
        <form action="/tweets/<%= tweet.id %>" method="POST">
      <fieldset>
        <!-- <legend>Please Rate This Tweet</legend> -->

        <label for="radio-container">How do you rate this Trump tweet?</label>
        <div class="radio-container">
          <input name="score" type="range" min="1" max="10" value="1"/>
          <div class="top">
          <h2>Gross</h2>
          <h2>Repulsive</h2>
          <h2>Nauseating</h2>
          <h2>Heinous</h2>
          <h2>I Threw Up</h2>
          </div>
        <input type="submit" value="Rate!" id="submit-btn"></input>
      </fieldset>
    </form>
      </li>
  </div>
    <% } %>
  </ol>
  <script src="javascripts/index.js"></script>
</body>




<% include ../shared/_foot %>
